/* aawadj
awfdaw
afaw */


html {
    scroll-behavior: smooth;
}

*, *::after, *::before{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffde9;
}



/* kwiatki */
.flowersContainerLeft {
    position: fixed;
    top: 0;
    width: 15%;
    min-height: 100vh;
    margin: 0;
    z-index: 10;
}

.flowersContainerRight {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    min-height: 100vh;
    margin: 0;
    z-index: 10;
}

@media (max-width: 600px) {
    .flowersContainerLeft,
    .flowersContainerRight {
        position: absolute;
    }
}

.flowersLeft {
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0;
}

.flowersRight {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    max-width: 75%;
    height: auto;
    margin: 0;
    
}



/* tytuł i nawbar */
.title {
    position: relative;
    width: 100%;
    margin: 40vh 0px 0px 0px;
    top: 0;

    text-align: center;

}

h1 {
    font-size: 10vw;
    font-family: 'Send Flowers', cursive;
    font-weight: normal;
}

.menu {
    display: flex;
    position: sticky;
    justify-content: center;
    width: 70vw;
    top: 0px;
    left: 15vw;
    z-index: 5;
    background-color: #fffde9;
    box-shadow: 0px 25px 21px -20px rgba(66, 68, 90, 1);
    padding: 1vh 0;
    
}

.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: hidden;

}

.menu ul li {
    display: flex;
    align-items: center
}

.menu ul li a {
    font-size: 1.4vw;
    color: #8f8f8f;
    text-align: center;
    padding:0.1vw 0.8vw;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    text-transform: uppercase;
}

.menu ul li a:hover:not(.active) {
    color: #4a4a4a;
}
.menu-item.active
{
    text-decoration: underline;
}
@media (max-width: 600px) {
    .menu {
        width: 100vw;
    }
}

/* ustawienia sekcji */
.sectionContainer {
    position: relative;
    left: 0px;
    width: 70%;
    height: auto;
    margin: 0vh 15vw 0 15vw;
    padding: 6vh 0;
    float: left;
}


@media (max-width: 600px) {
    .sectionContainer {
        margin: 0;
        width: 100vw;
    }

}



/* sekcja 1 */
#Slub {
   display:flex;
}

.section1 {
    margin: 50vh 15vw 0 15vw;
}

@media (max-width: 600px) {
    .section1 {
        margin: 50vh 0 0 0;
        background-color: red;
    }
}

h3 {
    text-align: center;
    font-size: 5rem;

}

.church{
    width:50%;
}

/* sekcja 2 */
#Wesele {
    background-color: yellow;
}



/* sekcja 3 */
#PlanWesela {
    background-color: green;
}



/* sekcja 4 */
/* .roomContainer {
    position: relative;
    left: 0px;
    width: 70vw;

    height: auto;
    margin: 0vh 15vw 0 15vw;
    background-color: red;
} */


/* @media (max-width: 600px) {
    .roomContainer {
        margin: 3vh 0 0 0;
    }
} */

.table {
    /* background-color: blue; */
    position: relative;
    display: grid;
    justify-items: center
}

.bossTable {
    margin: 5vh 30%;
    width: auto;
    height: 10vh;
}


.guestContainer {  
    position: relative;
    display: flex;
    width: 70vw;
    height: auto;
    padding: 5vh 0;
    justify-content: space-evenly;
    /* background-color: yellow; */
}

@media (max-width: 600px) {
    .guestContainer {
        width: 100vw;
        padding: 5vh 3vw;
    }
}

.guestTable {
    width: 20vw;
    height: auto;

    grid-template-columns: 30% 20% 20% 30%;
    grid-template-rows: auto-fill;
    grid-column-gap: 5px;
    grid-row-gap: 13px;

}


.guestTable span {
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 100;
    opacity: 0.7;
    font-size: 1.2rem;
}

.guestTable span p2 {
    color: gray;
    opacity: 0.6;
    font-size: 0.8rem;
}

.guestTable .checkOn,
.guestTable .checkOn p2 {
    color: black;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px RGBA(255,255,0,1);
    font-family: 'Kanit', sans-serif;
    
}

.guestTable .checkOn p2 {
    z-index: 20;
    font-size: 1.1rem;
}

.tableTable {
    grid-area: 1 / 2 / 26 / 4;
    background-color: #663300;
    width: 100%;
    border-radius: 50px;
    border: 2px solid black;
}

.bossTable p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 900;
    font-size: 20px;
}

.guestSerchBarTitle {
    display: none;
}

.guestSerchBar {
    position: absolute;
    top: 4vh;
    right: -13vw;
    height: 400px;
    width: 200px;
    overflow-y: scroll;
    z-index: 20;
    border: 2px solid #ccc;
}

@media (max-width: 600px) {
    .guestSerchBar {
        position: relative;
        top: 0;
        left: 15vw;
        right: 0;
        height: 30vh;
        width: 70vw;
    }
    .arrow {
        display: none;
    }

    .guestSerchBarTitle {
        display: block;
        text-align: center;
        margin: 2vh 0;
        font-size: 1.1rem;
    }
}



.chairLeft {
    position: relative;
    height: clamp(25px,2.7vw,45px);
    left: clamp(3px,0.6vw,0.6vw);
    width: clamp(30px,2.9vw,50px);
    background-color: #841010;
    opacity: 1;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid black;
    justify-items: end;
    margin: clamp(5px,0.4vw,10px) 0px;
}

.chairLeft:before {
    content: "";
    position: absolute;
    left: -9px;
    height: clamp(25px,2.7vw,45px);
    width: 8px;
    background-color: #690F0F;
    border-radius: 5px;
    border: 2px solid black;
}

.chairRight {
    position: relative;
    height: clamp(25px,2.7vw,45px);
    right: clamp(3px,0.6vw,0.6vw);
    width: clamp(30px,2.9vw,50px);
    background-color: #841010;
    opacity: 1;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 2px solid black;
    margin: clamp(5px,0.4vw,10px) 0px;
}

.chairRight:after {
    content: "";
    position: absolute;
    right: -9px;
    height: clamp(25px,2.7vw,45px);
    width: 8px;
    background-color: #690F0F;
    border-radius: 5px;
    border: 2px solid black;
}

.arrow{
    position: absolute;
    top: 15vh;
    right: -1vw;

    color: black;
    font-weight: 600;
    opacity: 1;
    text-transform: uppercase;
    text-shadow: 0px 0px 4px rgba(206,206,206,0.92);
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
}



/* stół 1 */
.seatHTML2 {
    grid-area: 2 / 1 / 3 / 2;
}
.seatHTML3 {
    grid-area: 3 / 1 / 4 / 2;
}
.seatHTML4 {
    grid-area: 4 / 1 / 5 / 2;
}
.seatHTML5 {
    grid-area: 5 / 1 / 6 / 2;
}
.seatHTML6 {
    grid-area: 6 / 1 / 7 / 2;
}
.seatHTML7 {
    grid-area: 7 / 1 / 8 / 2;
}
.seatHTML8 {
    grid-area: 8 / 1 / 9 / 2;
}
.seatHTML9 {
    grid-area: 9 / 1 / 10 / 2;
}
.seatHTML10 {
    grid-area: 10 / 1 / 11 / 2;
}
.seatHTML11 {
    grid-area: 11 / 1 / 12 / 2;
}
.seatHTML12 {
    grid-area: 12 / 1 / 13 / 2;
}
.seatHTML13 {
    grid-area: 13 / 1 / 14 / 2;
}
.seatHTML14 {
    grid-area: 14 / 1 / 15 / 2;
}
.seatHTML15 {
    grid-area: 15 / 1 / 16 / 2;
}
.seatHTML16 {
    grid-area: 16 / 1 / 17 / 2;
}
.seatHTML17 {
    grid-area: 17 / 1 / 18 / 2;
}
.seatHTML18 {
    grid-area: 18 / 1 / 19 / 2;
}
.seatHTML19 {
    grid-area: 19 / 1 / 20 / 2;
}
.seatHTML20 {
    grid-area: 20 / 1 / 21 / 2;
}
.seatHTML21 {
    grid-area: 21 / 1 / 22 / 2;
}
.seatHTML22 {
    grid-area: 22 / 1 / 23 / 2;
}
.seatHTML23 {
    grid-area: 23 / 1 / 24 / 2;
}
.seatHTML24 {
    grid-area: 24 / 1 / 25 / 2;
}
.seatHTML25 {
    grid-area: 25 / 1 / 26 / 2;
}

/* stół 2 */
.seatHTML52 {
    grid-area: 2 / 1 / 3 / 2;
}
.seatHTML53 {
    grid-area: 3 / 1 / 4 / 2;
}
.seatHTML54 {
    grid-area: 4 / 1 / 5 / 2;
}
.seatHTML55 {
    grid-area: 5 / 1 / 6 / 2;
}
.seatHTML56 {
    grid-area: 6 / 1 / 7 / 2;
}
.seatHTML57 {
    grid-area: 7 / 1 / 8 / 2;
}
.seatHTML58 {
    grid-area: 8 / 1 / 9 / 2;
}
.seatHTML59 {
    grid-area: 9 / 1 / 10 / 2;
}
.seatHTML60 {
    grid-area: 10 / 1 / 11 / 2;
}
.seatHTML61 {
    grid-area: 11 / 1 / 12 / 2;
}
.seatHTML62 {
    grid-area: 12 / 1 / 13 / 2;
}
.seatHTML63 {
    grid-area: 13 / 1 / 14 / 2;
}
.seatHTML64 {
    grid-area: 14 / 1 / 15 / 2;
}
.seatHTML65 {
    grid-area: 15 / 1 / 16 / 2;
}
.seatHTML66 {
    grid-area: 16 / 1 / 17 / 2;
}
.seatHTML67 {
    grid-area: 17 / 1 / 18 / 2;
}
.seatHTML68 {
    grid-area: 18 / 1 / 19 / 2;
}
.seatHTML69 {
    grid-area: 19 / 1 / 20 / 2;
}
.seatHTML70 {
    grid-area: 20 / 1 / 21 / 2;
}
.seatHTML71 {
    grid-area: 21 / 1 / 22 / 2;
}
.seatHTML72 {
    grid-area: 22 / 1 / 23 / 2;
}
.seatHTML73 {
    grid-area: 23 / 1 / 24 / 2;
}
.seatHTML74 {
    grid-area: 24 / 1 / 25 / 2;
}
.seatHTML75 {
    grid-area: 25 / 1 / 26 / 2;
}

/* stół 2 */
.seatHTML102 {
    grid-area: 2 / 1 / 3 / 2;
}
.seatHTML103 {
    grid-area: 3 / 1 / 4 / 2;
}
.seatHTML104 {
    grid-area: 4 / 1 / 5 / 2;
}
.seatHTML105 {
    grid-area: 5 / 1 / 6 / 2;
}
.seatHTML106 {
    grid-area: 6 / 1 / 7 / 2;
}
.seatHTML107 {
    grid-area: 7 / 1 / 8 / 2;
}
.seatHTML108 {
    grid-area: 8 / 1 / 9 / 2;
}
.seatHTML109 {
    grid-area: 9 / 1 / 10 / 2;
}
.seatHTML110 {
    grid-area: 10 / 1 / 11 / 2;
}
.seatHTML111 {
    grid-area: 11 / 1 / 12 / 2;
}
.seatHTML112 {
    grid-area: 12 / 1 / 13 / 2;
}
.seatHTML113 {
    grid-area: 13 / 1 / 14 / 2;
}
.seatHTML114 {
    grid-area: 14 / 1 / 15 / 2;
}
.seatHTML115 {
    grid-area: 15 / 1 / 16 / 2;
}
.seatHTML116 {
    grid-area: 16 / 1 / 17 / 2;
}
.seatHTML117 {
    grid-area: 17 / 1 / 18 / 2;
}
.seatHTML118 {
    grid-area: 18 / 1 / 19 / 2;
}
.seatHTML119 {
    grid-area: 19 / 1 / 20 / 2;
}
.seatHTML120 {
    grid-area: 20 / 1 / 21 / 2;
}
.seatHTML121 {
    grid-area: 21 / 1 / 22 / 2;
}
.seatHTML122 {
    grid-area: 22 / 1 / 23 / 2;
}
.seatHTML123 {
    grid-area: 23 / 1 / 24 / 2;
}
.seatHTML124 {
    grid-area: 24 / 1 / 25 / 2;
}
.seatHTML125 {
    grid-area: 25 / 1 / 26 / 2;
}



/* sekcja 5 */
#Organizacja {
    background-color: purple;
}

#Organizacja{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* sekcja 6 */
#Zdjęcia {
    background-color: orange;
}

#Zdjęcia{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Zdjęcia a {
    text-decoration: none;
}



/* sekcja 7 */
#Kontakt {
    background-color: lightblue;
}



.clear {
    clear: both;
}


.toDoIcon {
    position: fixed;
    left: 0;
    top: 50vh;
    background-color: orange;
    height: 50px;
    width: 50px;
    cursor: pointer;
    z-index: 20;
}

.toDoCheckbox {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.toDoCheckbox:checked + .toDoList {
    display: block;
}

.toDoList {
    position: relative;
    left: 0;
    top: 0;
    background-color: red;
    height: 350px;
    width: 180px;
    padding: 20px;
    z-index: 20;
    display: none;
}
